<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Text_Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Text_Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Text_Editor.Properties.Settings>
            <setting name="LineNumbers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NightMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Started" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="aesEncryptPath" serializeAs="String">
                <value>aesKeyInfo.json</value>
            </setting>
        </Text_Editor.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v8.0" sku=".NET,Version=v8.0"/></startup>
    <applicationSettings>
        <Text_Editor.Properties.Settings>
            <setting name="Key" serializeAs="String">
                <value>;`l"&lt;a&#xF;a&#x18;m&#x2;e&#x2;0&#x3;6:`:&#x4;f&#xC;?&#x7;`&#x11;`9&#x4;m&#x4;2&#x7;/`'&#x1E;-'?&#x10;h</value>
            </setting>
            <setting name="IV" serializeAs="String">
                <value>=9&#xC;&#x11;&#x14;g&#x5; &#x1E;&#x5; </value>
            </setting>
        </Text_Editor.Properties.Settings>
    </applicationSettings>
</configuration>
